<%#
  ABOUT
%>

<h1>was ist joomen ?</h1>

<p>
  joomen ist eine kostenlose Plattform, über die Aufgaben an mehrere Personen <br /> 
  verteilt werden können. <br />
  
  Jeder Teilnehmer hat dieselben Befugnisse und kann jede Aktion ausführen. <br />
</p>  
  
<p>
  Zu den Aktionen zählen:
  <ul>
    <li>Aufgaben erstellen </li>
    <li>Aufgaben an Teilnhemer verteilen </li>
    <li>Aufgaben löschen </li>
    <li>Teilnehmer hinzufügen </li>
    <li>Teilnehmer entfernen </li>
    <li>Nachrichten erstellen </li>
  </ul>
</p>

<h2>Organisation von Events - Wer bringt was mit ?</h2>
<p>
  Denkbare Anwendungs-Szenarien wären die Oragnisation einer Party, <br /> 
  bei der jeder eine Kleinigkeit bitbringt. Ebenso denkbar ist die <br />
  Organisation eines gemeinsamen Abendessens, bei dem verschieden Speisen verteilt werden.
</p>

<h2>Organisation von Gruppenarbeiten - Wer macht was ?</h2>
<p>
  Verschiedene Aufgaben können in einer Gruppe von Personen effektiv verteilt,<br />
  Informationen ausgetauscht und kommuniziert werden.
</p>

<h2>Urlaubsplanung - Wer kauft was ?</h2>
<p>
  Gerade bei einem Urlaub in der Gruppe wird sinnloserweise viel mehrfach gekauft und mitgeschleppt.
  Sparen Sie Gewicht. Es reicht wenn nur einer Kopfschmerztabletten, Sonnencreme und Taschenmesser mitnimmt.
</p>

