<%#
  ABOUT
%>

<h1>About joomen ?</h1>

<p>
  joomen is a free platform, on which different tasks can be assigned to several persons.<br />

  Every participant has the same rights and can perform the same actions.<br />
</p>  
  
<p>
  Among these actions are:
  <ul>
    <li>Create tasks</li>
    <li>Assign tasks to attendees</li>
    <li>Delete tasks</li>
    <li>Add participants</li>
    <li>Remove participants</li>
    <li>Send messages</li>
  </ul>
</p>

<h2>Organizing events - who brings what ?</h2>
<p>
  Possible usage scenarios would be the organisation of a party <br />
  where everyone brings a little something. <br />
  Or you can think of a common dinner where every attendee brings along a dish.
</p>

<h2>Organizing a groupwork - who does what ?</h2>
<p>
  Various tasks can be assigned among a group effectively, <br />
  Information is shared and communicated.
</p>

<h2>Organizing a vacation - who buys what ?</h2>
<p>
  Especially during a vacation in a group a lot is bought several times and dragged along.<br />
  Save weight. It is enough if only one brings headache tablets, sun cream or a pocket knive. Share what can be shared.
</p>

