<%#
IMPRESSUM
%>

 <h1>Impressum</h1>

 <p>
    <strong>Gestaltung und technische Umsetzung:</strong><br />
    Felix Abele
 </p>

 <p>
    <strong>Verantwortung für den Inhalt:</strong><br />
    Felix Abele <br />
    Hobrechtstr. 28 <br />
    12047 Berlin <br />
    Tel.: +49 1763 8382 681
 </p>

 <p>
    <strong>Idee:</strong><br />
    Felix Abele, Thomas Krannich
 </p>

 <h2>1. Haftungsbeschränkung</h2>

 <p>
Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. <br />
Der Anbieter übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit <br />
und Aktualität der bereitgestellten Inhalte.
 </p>

<h2>2. Externe Links</h2>
<p>
Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links"). <br />
Diese Websites unterliegen der Haftung der jeweiligen Betreiber. <br />
Der Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden <br />
Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen.<br />
Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. <br />
Der Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung <br />
und auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet <br />
nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu <br />
Eigen macht. Eine ständige Kontrolle der externen Links ist für den Anbieter ohne <br />
konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen<br />
werden jedoch derartige externe Links unverzüglich gelöscht.
</p>

<h2>3. Urheber- und Leistungsschutzrechte</h2>
<p>
Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zulässig.
</p>

<h2>4. Datenschutz</h2>
<p>
Die Verwendung aller Kontaktdaten, die auf diesen Seiten veröffentlicht werden, <br />
zur gewerblichen Werbung ist ausdrücklich nicht erwünscht, es sei denn der Anbieter <br />
hatte zuvor seine schriftliche Einwilligung erteilt oder es besteht bereits eine <br />
Geschäftsbeziehung. Der Anbieter und alle auf dieser Website genannten Personen <br />
widersprechen hiermit jeder kommerziellen Verwendung und Weitergabe ihrer Daten.
</p>

<h2>5. Besondere Nutzungsbedingungen</h2>
<p>
Soweit besondere Bedingungen f ür einzelne Nutzungen dieser Website von den <br />
vorgenannten Nummern 1. bis 4. abweichen, wird an entsprechender Stelle ausdrücklich <br />
darauf hingewiesen. In diesem Falle gelten im jeweiligen Einzelfall die besonderen <br />
Nutzungsbedingungen.
</p>