<%#
  KONTAKT
%>

<h1>Contact</h1>

<h2>Support</h2>
<p>
  Since joomen is still in its infancy and there is thus a variety of bugs, most of them are already known. <br />
  Since I am only one person, and joomen currently is nothing more then a small side project, <br />
  I'm affraid, I can not answer support questions individually.
</p>

<h2>Feedback and further inquiries</h2>
<p>
For all further requests your are free to get in touch with me by E-Mail:
<%= image_tag("/images/icons/email.png") %>  
</p>
