<%#
  KONTAKT
%>

<h1>Kontakt</h1>

<h2>Support</h2>
<p>
  Da joomen noch in den Kinderschuhen steckt und es somit eine <br />
  Vielzahl an Baustellen gibt, sind die meisten Bugs ohnehin bekannt. <br />
  Da ich nur eine Person bin, und joomen als kleines Nebenprojekt läuft <br />
  kann ich Support Anfragen nicht individuell beantworten. <br />
  Feedback und sonstige Kontakt-Anfragen
</p>

<h2>Feedback und sonstige Kontakt-Anfragen</h2>
<p>
Für alle weiteren Anfragen können Sie mich gerne persönlich unter folgender Email
erreichen:
<%= image_tag("/images/icons/email.png") %>  
</p>