<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="google-site-verification" content="p46nmF09MZTlk7yfDtYRXRqDy_vRfW65cxov-Zm1DKM" />
<meta name="keywords" content="Assign Tasks, who will bring what, who does what, effective group organization, party organization" />
<meta name="description" content="joomen helps you to assign tasks simply with Drag'n'Drop. Free group organization without registration. Organize a party where everyone brings somehing" />
<meta name="copyright" content="Felix Abele, Berlin" />

<title>Who brings what ? - joomen !</title>

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="shortcut icon" href="/images/favicon.png" />
<%= stylesheet_link_tag 'print', :media => "print,screen" %>

</head>

<body>

    <div id="container">
      <div id="header">
        <!-- LOGO -->
        <%= link_to(image_tag("/images/style/print_logo.jpg", :class=>"logo"), :root) %>
      </div>

      <div id="content">

        <!-- Flash Message -->
        <% if flash[:notice] %>
            <div class="flash notice">
                <%= flash[:notice] %>
            </div>
        <% end %>

        <!-- Content -->
        <%= yield %>
      </div>

    </div>

<!-- Automatically print when page ist loaded -->
<script type="" language="javascript">
    window.print();
</script>

</body>
</html>

